#clients-content {
    width: 100%;
    height: 100%;
}

#clients-side-content {
    width: 500px;
    height: 100%;
}

#side-content-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/* CREATE CLIENT */
.main-content {
    height: 100%;
}

.flex-input-div {
    align-self: center;
    column-gap: 70px;
    row-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text-input-property-div {
    display: flex;
    flex-direction: column;
}

.layout-container .main-content a:first-child {
    align-self: flex-start;
}

.action-input-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.action-input-div input {
    margin-right: 1%;
}

.annoying-select .select-input-property-div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.annoying-select .select-input-property-div label {
    align-self: flex-start;
}

.annoying-select .select-input-property-div select {
    margin: 0;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    height: 25px;
}
