.content-title {
    font-weight: 300;
}

#clients-content {
    width: 100%;
    height: 100%;
}

#clients-side-content {
    width: 500px;
    height: 100%;
}

.side-content-scrollable h3 {
    font-size: 20px;
}

.side-content-scrollable b {
    font-weight: 400;
}

.side-content-scrollable p {
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}

#orders-side-content h2 {
    margin-bottom: 0;
    width: 200px;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid black;
}

/* CREATE CLIENT */
.main-content {
    height: 100%;
}

.layout-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.text-input-property-div input {
    height: 25px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.text-input-property-div {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
    align-self: center;
    font-weight: 500;
}

h3:first-of-type {
    border: none;
}

h3 {
    margin-top: 0;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

}

.layout-container .main-content a:first-child {
    align-self: flex-start;
}

.flex-input-div {
    align-self: center;
    column-gap: 70px;
    row-gap: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.action-input-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5px;
}

.action-input-div input {
    margin-right: 1%;
}