:root {
    --body-bg: #f9f9f9;
    --header-bg: #e7e1db;
}

@media (prefers-color-scheme: dark) {

    /* NOT TO BE IMPLEMENTED RIGHT NOW */
    :root {
    }
}

@font-face {
    font-family: "Albert Sans";
    src: url("../AlbertSans-VariableFont_wght.ttf") format("truetype");
    font-weight: auto;
    font-style: normal;
}

* {
    /*margin: 0;*/
    /*padding: 0;*/
    font-family: "Albert Sans", sans-serif;
}

body {
    margin: 0;
    padding: 10px;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #f9f9f9;
}

.main-layout {
    width: calc(100vw - 20px);
    height: calc(100vh - 125px);

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: row;
}

main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-title {
    padding: 0;
    margin: 20px;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-content {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.side-content {
    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    scroll-behavior: smooth;
}

.side-content ::-webkit-scrollbar {
    width: 8px;
}

.side-content ::-webkit-scrollbar-track {
    /*border-top: solid 6px #807160;*/
    /*border-bottom: solid 6px #807160;*/
    background-color: #eee;
}

.side-content ::-webkit-scrollbar-thumb {
    margin: -6px 0;
    background-color: #9d8b75;
}

.side-content ::-webkit-scrollbar-thumb:hover {
    background-color: #dfd8cd;
}

.side-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.side-content-scrollable {
    padding: 5px;

    width: 100%;
    flex: 1;
    max-height: calc(100vh - 400px);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
}

.side-content-scrollable > p, h3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.side-content-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.side-content-header h2 {
    width: 100%;
    text-align: center;
    margin: 24px 0 0 0;
    font-size: 36px;
}
.side-content-header hr {
    width: 100%;
    border: 2px solid black;
}

.side-content-header h3 {
    width: 100%;
    margin: 0;
    font-size: 24px;
    color: rgb(190, 190, 190);
}



.side-content-details-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side-content-details-options > * {
    flex: 1;
    text-align: center;
    margin: 0 5px;
}

/* ALL INPUTS & BUTTONS */

.regular-button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: #9E8C76;
    padding: 6px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.regular-button:hover {
    background-color: #817463;
}

.text-input-property-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.text-input-property-div label {
    font-size: 20px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.text-input-property-div input {
    height: 30px;
    font-size: 18px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.date-input-property-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.date-input-property-div label {
    font-size: 18px;
}


.date-input-property-div input {
    font-size: 18px;
    padding: 10px;
    height: 25px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    color: grey;
}
.select-input-property-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.select-input-property-div label {
    font-size: 18px;
}

.select-input-property-div select {
    font-size: 18px;
    padding: 5px;
}

.select-input-property-div option {

}

.file-input-property-div {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border: 2px dashed #9E8C76;
    border-radius: 10px;
    padding: 10px;
}

.file-input-property-div label {
    font-size: 18px;
}

.file-input-property-div input {

}

.file-input-property-div input::-webkit-file-upload-button {
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 400;
    background-color: #9E8C76;
    padding: 6px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.file-input-property-div input::-webkit-file-upload-button:hover {
    background-color: #817463;
}

.file-input-property-div img {
    width: 100%;
    height: 100%;
    max-height: 100px;
}

.area-input-property-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.area-input-property-div label {
    font-size: 18px;
}

.area-input-property-div textarea{
    width: 250px;
    height: 100px;
    resize: none;
    font-size: 18px;
}


/*.image-upload {*/
/*    border: 2px dashed #9E8C76;*/
/*    border-radius: 10px;*/
/*    padding: 10px;*/
/*    align-self: center;*/
/*    max-width: 245px;*/
/*    justify-content: center;*/
/*}*/


.error-input {
    color: red;
    font-size: 10px;
}
