/********************** GENERAL **********************/
#login-content {
    width: 650px;
    height: 100%;
    display: flex;
    flex: 1;
    align-self: center;
}

h1 {
    font-weight: 300;
}

/********************** LOGIN **********************/
.text-input-property-div {
   display: flex;
   flex-direction: column;
   margin: 5px 0 5px 0;
   font-size: 20px;
}

.text-input-property-div input {
    margin: 0;
    height: 35px;
    border-radius: 5px;
    border-color: rgba(128, 128, 128, 0.2);
}

.login-form{
    margin-top: 8%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-self:center;
}

.login-form a {
    margin-top: 1%;
    align-self: flex-end;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.login-form a:hover {
    text-decoration: underline;
}

.login-form button {
    height: 30px;
    width: 50%;
    min-width: fit-content;
    align-self: center;
    margin-top: 40%;
    cursor: pointer;
    border: none;
    font-size: 15px;
}

.login-form div:last-child {
    align-self: center;
    font-weight: 400;
    margin-top: 10%;
}

/********************** CODE VERIFICATION **********************/
#login-content #enterVerification {
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    margin-top: 15%;
    margin-bottom: 7%;
}

#login-content a {
    color: #000;
    text-decoration: none;
}

#login-content a:hover {
    text-decoration:underline;
}

.resendCode {
margin-top: -9%;
margin-left: 15%;
}

.tempVerif{
    margin-left: 15%;
}

.code-input-container {
    position: relative;
    display: inline-block;
    width: 30%;
    margin-bottom: 10%;
  }

  .inputForCode {
    background: transparent;
    color: transparent;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    font-family: monospace;
    padding: 0.5rem 0.75rem;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 2;
    caret-color: transparent;
  }

  #overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;  /* Allow clicks to pass through to the input */
    font-size: 1rem;
    font-family: monospace;
    color: #000;
    z-index: 1;
  }

.executeButton {
    height: 30px;
    min-width: fit-content;
    align-self: center;
    margin-top: 20%;
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #9E8C76;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/********************** NEW PASSWORD **********************/
#login-content form {
    display: flex;
    flex-direction: column;
    margin-top: 8%;
}

/**********************2FA PAGE**********************/
#login-content .checkAuthenticator{
    font-size: 25px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
}

.qrCode{
    border: 2px solid black;
    width: 350px;
    height: 350px;
    object-fit: fill;
    display: block;
    margin-top: 90px;
    margin: 10px auto;
}

.qrExecuteButton {
    height: 30px;
    min-width: fit-content;
    align-self: center;
    margin-top: 15px;
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    background-color: #9E8C76;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
