
aside {
    height: 100%;
    width: 125px;
    min-width: 125px;
    min-height: min-content;

    margin: 0;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-self:baseline;
    align-items: flex-start;

    background-color: var(--header-bg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    transition: width 0.3s ease, overflow 0.3s ease;
}

#sidebar hr {
    width: 100%;
}

#sidebar-arrow-div {
    width: 100%;
    margin: 0 10px 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#sidebar-arrow-div img {
    width: 20px;
}

#sidebar-arrow {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    transition:transform 0.4s ease;
}

#sidebar nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    align-items: start;
}

#sidebar nav div:first-child {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#sidebar nav div:last-child {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
}


#sidebar .nav-link {
    text-decoration:none;
    flex-shrink: 1;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    cursor: pointer;
}




#sidebar .nav-link-img {
    width: 30px;
    margin-right: 7%;
}

#sidebar .nav-link-a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: #000;
    transition: opacity 0.4s ease-in-out;
}

.nav-link-active{
    background-color: #9E8C76;
    color:#E9E9E9;
    border-radius: 10px;
}


.shrink {
    overflow:hidden;
    width: 30px;
    min-width: 30px;
    align-items: center;
}

.rotate {
    transform: rotate(180deg);
    justify-self: center;
}

.remove {
    opacity: 0;
    pointer-events: none;
}
