
.table-content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.table-header {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

.table-header a {
    align-self: center;
}

.table-header .regular-button {
    margin: 0 0 0 5px;
}

.search-form {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.search-form > * {
    margin: 0 10px 0 0;
}

.search-table-div {
    min-width: 500px;
    width: 100%;
    height: fit-content;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*.search-table {*/
/*    flex: 1;*/
/*    min-width: 500px;*/
/*    height: min-content;*/
/*}*/

.search-table > thead {
    width: 100%;
}

.search-table th {

    text-align: start;
}

.order-table-th-div {
    height: fit-content;
    min-width: 40px;
}

.table-header button {
    align-self: center;
}

/* TABLE */
.search-table {
    height: 100%;
    width: 100%;
}

.search-table thead tr th {
    text-align: center;
    font-weight: 500;
    background-color: rgba(128, 128, 128, 0.2);
}

.order-table-td-div {
    width: 100%;
    height: fit-content;
}

.search-table tbody tr {
    background-color: rgba(128, 128, 128, 0.1);
}

.search-table tbody tr td {
    padding: 0 0 0 10px;
    margin: 0;
    font-weight: 300;
    /*font-size: 15px;*/
    font-size: max(15px, min(20px, 2vh));
}


.search-table tbody tr.active {
    background-color: rgb(245, 211, 186);

}

.search-table tbody tr.inactive {
    background-color: rgba(128, 128, 128, 0.1);
}

.search-table tbody tr.inactive:nth-child(odd) {
    background-color: rgb(225, 218, 207);
}

.search-table {
    border-collapse: separate;
    border-spacing: 2px 5px;
    border-color: black;
}

.search-table-pagination-div {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.paginated-inactive {
    opacity: 0.3;
}

/*.paginated-search-form {*/
/*    height: 100%;*/

/*    margin: 0 0 0 10px;*/
/*    padding: 0;*/

/*    width: fit-content;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

.search-table-pagination-div input {
    width: 62px;
    font-size: 14px;
    padding: 6px 2px;
}

.search-table-pagination-div > * {
    margin: 0 5px;
}
